
.icon-w3c:before { content: '\e80e'; } /* '' */
.icon-wordpress:before { content: '\e80c'; } /* '' */
.icon-vcard:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\e805'; } /* '' */
.icon-tablet:before { content: '\e804'; } /* '' */
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-phone-outline:before { content: '\e802'; } /* '' */
.icon-cc:before { content: '\e810'; } /* '' */
.icon-cc-by:before { content: '\e811'; } /* '' */
.icon-html5:before { content: '\e80d'; } /* '' */
.icon-css3:before { content: '\e80f'; } /* '' */
.icon-facebook-rect:before { content: '\e808'; } /* '' */
.icon-twitter-bird:before { content: '\e80b'; } /* '' */
.icon-github:before { content: '\e809'; } /* '' */
.icon-googleplus-rect:before { content: '\e80a'; } /* '' */
.icon-skype:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */