<footer class="site-footer" role="contentinfo">
    <hr>
    <ul>
        <li><a href="#header">&UpArrow; voltar ao topo</a></li>
        <li>                            
            <i class="icon-cc"></i>
            <i class="icon-cc-by"></i>            
        </li>
        <li>Este site foi licenciado sob uma Licença <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">Creative Commons</a></li>
    </ul>	
</footer>		
</div>        

<!--[if IE]> 
<script src="../_bower_components/jquery/jquery.min.js"></script><![endif]-->
<!-- build:js(app) js/scripts.js -->
<script src="/_bower_components/zepto/zepto.min.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
</body>
</html>
