@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600);
$branco: #FEFEFE;
$preto: #202020;
$vermelho: #FF5B39;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
html {
 background: $branco;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.6250em;
  font-weight: 300;
  color: $preto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
main {
 max-width: 30rem;
 margin: 0 1.5rem;
 padding: 0 1.5rem;
 border: 2px solid $preto;
}
h1 {
 font-size: 2rem;
 font-weight: 600;
 margin-bottom: .5rem;
}
h2 {
 font-size: 1.375rem;
 font-weight: 500;
 margin-top: 0;
}
p {
 text-indent: 1rem;
 text-align: justify;
 font-weight: 300;
}
a {
 color: darken($vermelho, 10);
 text-decoration: none;
 font-weight: 400;
 &:hover {
  text-decoration: underline;
 }
}