{% include header.html %}

<nav id="menu" role="navigation" class="s-posts">
    <h2 class="align">Últimos textos</h2>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">
                {{ post.title }}
                <span>
                    {{ post.date |  date: "%d/%m/%y"  }}
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>	

<section role="main" class="s-main">

    {{content}}
</section>

<section id="sidebar" role="contentinfo" class="s-contato">
    <h2 class="align">Contato</h2>
    <ul>
        <li itemprop="telephone">
            <a href="tel:981411831" id="telornot">
                <i class="icon-phone-outline"></i>
                (11) 981.411.831
            </a>
        </li>
        <li itemprop="email">
            <a href="mailto:rafael@abensur.net">
                <i class="icon-mail"></i>
                rafael@abensur.net
            </a>
        </li>
        <li>
            <a href="http://facebook.com/rafael.abensur">
                <i class="icon-facebook-rect"></i>
                facebook
            </a>
        </li>
        <li>
            <a href="http://github.com/abensur">
                <i class="icon-github"></i>
                github
            </a>
        </li>
        <li>
            <a href="http://twitter.com/abensurf">
                <i class="icon-twitter-bird"></i>
                twitter
            </a>
        </li>
    </ul>	
</section>

{% include footer.html %}
